@font-face {
    font-family: 'Inter-Regular';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
}

:root {
    --color-bg: #141414;
    --color-card: #1F1F1F;
    --color-primary: #F8F8F8;
    --color-text-primary: #F7F7F7;
    --color-text-secondary: #29380F;
    --color-button-bg: #333333;
    --color-accent: #C4F82A;

}

* {
    padding: 0;
    margin: 0;
}

main {
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--color-primary);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-card);    
    border-radius: 1rem;
    padding: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 1.5rem;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.about h1{
    font-family: 'Inter-Regular',sans-serif;
    font-size: 1.75rem;
}

.location{
    font-family: 'Inter-SemiBold',sans-serif;
    font-size: 1rem;
    color:var(--color-accent);
}

.description{
    font-family: 'Inter-Regular',sans-serif;
    font-size: 1rem;
}

.about img {
    border-radius: 100rem;
    width: 6rem;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;
}

.btn {
    background-color: var(--color-button-bg);
    color: var(--color-primary);
    border: none;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    font-family: 'Inter-SemiBold',sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--color-accent);
    color: var(--color-text-secondary);
    cursor: pointer;
}